

  {% extends "base.html" %}
  {% load socialaccount %}

  {% block title %} {{ title }} {% endblock  %}

  {% block content %}
    <div class="card blog-card mb-4 shadow-sm position-relative overflow-hidden">
      <div class="card-body">
        <!-- Avatar -->
        {% if request.user.profile.avatar %}
        <img src="{{ request.user.profile.avatar.url }}"
              alt="{{ request.user.username }}" width="100">
        {% else %}
        {% get_social_accounts user as accounts %}
        {% if accounts.github %}
            {% for account in accounts.github %}
                <img src="{{ account.get_avatar_url }}" alt="Github profile image" width="100" srcset="">
            {% endfor %}
        {% endif %}
        {% if accounts.google %}
            {% for account in accounts.google %}
                <img src="{{ account.get_avatar_url }}" alt="Google profile image" width="100">
            {% endfor %}
        {% endif %}
        <div class="profile-avatar-placeholder mx-auto mb-3">
            {{ request.user.username|first|upper }}
        </div>
        {% endif %}
        <!-- Username -->
        <h4 class="fw-semibold mb-1">
            {{ request.user.get_username }}
        </h4>
        <!-- Full Name -->
        {% if request.user.get_full_name %}
        <p class="text-muted mb-3">
            {{ request.user.get_full_name }}
        </p>
        {% endif %}
        <hr>
        <!-- Info List -->
        <div class="text-start small">
            <p class="mb-2">
                <strong>Email:</strong><br>
                {{ request.user.email }}
            </p>
            {% if request.user.profile.phone %}
            <p class="mb-2">
                <strong>Phone:</strong><br>
                {{ request.user.profile.phone }}
            </p>
            {% endif %}
            {% if request.user.profile.address %}
            <p class="mb-0">
                <strong>Address:</strong><br>
                {{ request.user.profile.address }}
            </p>
            {% endif %}
            <br>
            <a href="{% url 'account_email' %}" class='btn btn-primary'>Emails</a>
            <a href="{% url 'account_change_password' %}" class='btn btn-primary'>Change Password</a>
            <a href="{% url 'socialaccount_connections' %}" class='btn btn-primary'>Socialaccount Connections</a>
            <a href="{% url 'account_logout' %}" class='btn btn-primary'>Logout</a>
        </div>
      </div>
    </div>
  {% endblock %}