    {% extends "base.html" %}

    {% block title %} {{ title }} {% endblock  %}

    {% block content %}
        <!-- Blog Card -->
        {% load humanize %}
        {% for article in article_list %}
            <div class="card blog-card mb-4 shadow-sm overflow-hidden">
                <!-- Clickable Image -->
                {% if article.featured_image %}
                <a href="{% url 'blog:article_detail' article.slug %}">
                    <div class="card-img-top"
                        style="height:120px;
                                background:url('{{ article.featured_image.url }}') center/cover no-repeat;">
                    </div>
                </a>
                {% endif %}

                <div class="card-body">
                    <!-- Categories -->
                    <div class="mb-2">
                        {% for category in article.categories.all %}
                            <a href="{% url 'blog:category' category.slug %}"
                            class="badge bg-primary text-decoration-none me-1">
                                {{ category.name }}
                            </a>
                        {% endfor %}
                        {{ article.published_at|naturaltime }}
                    </div>

                    <!-- Clickable Title -->
                    <h6 class="card-title mb-2">
                        <a href="{% url 'blog:article_detail' article.slug %}"
                        class="text-dark text-decoration-none">
                            <h4>{{ article.title|truncatechars:45 }}</h4>
                        </a>
                    </h6>
                    {% load auth_extras %}
                    {% if request.user.is_authenticated %}
                    <div class="d-flex gap-2">
                        {% if request.user|has_any_group:"Admin,Manger,Editor" or request.user == article.author or perms.blog.change_article %}
                        <a href="/"
                        class="btn btn-sm btn-outline-primary">
                            Edit
                        </a>
                        {% endif %}
                        {% if request.user|has_any_group:"Admin,Manger,Editor" or request.user == article.author or perms.blog.delete_article %}
                        <a href="/"
                        class="btn btn-sm btn-outline-danger">
                            Delete
                        </a>
                        {% endif %}
                    </div>
                    {% endif %}

                </div>
            </div>
        {% empty %}
        <div class="card blog-card mb-4 shadow-sm position-relative overflow-hidden">
            <div class="card-body">
                <h3 class="card-title text-center">
                    NO RESULT FOUND
                </h3>
            </div>
        </div>
        {% endfor %}

        <!-- Pagination -->
        {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a href="?page={{page_obj.previous_page_number}}" class="page-link">Previous</a></li>
                    {% endif %}
                    {% for num in paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li class="page-item"><a href="?page={{num}}" class="page-link">{{num}}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item"><a href="?page={{page_obj.next_page_number}}" class="page-link">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    {% endblock %}